order-pro-api/src/main/mule/implementation-order-pro-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="getShippingDate" doc:id="50e08634-7087-4896-be16-236cbf73cb9c" >
		<logger level="INFO" doc:name="Logger" doc:id="b9e85a5f-c5ef-40e2-a5ad-7b9f2986669f" />
		<set-variable value="#[now() as Date]" doc:name="dateAccepted" doc:id="70a2d7e0-6162-42bb-b81c-dad2d2293680" variableName="dateAccepted"/>
		<http:request method="POST" doc:name="POST/shipping-sys-api" doc:id="9a152fd7-01d8-45cb-b19b-31739a624cdb" config-ref="HTTP_Request_configuration-shipSAPI" path="/api/shipping" target="shippingDate" responseTimeout="30000000">
			<http:body ><![CDATA[#[output application/json
---
{
	"offerID": payload.offerID,
	"dateAccepted": vars.dateAccepted,
	"shipperID": payload.shipperID
}]]]></http:body>
		</http:request>
		<set-variable value='#[import * from dw::core::Dates&#10;import * from dw::core::Periods&#10;output application/json&#10;&#10;var days = 15&#10;---&#10;&#10;vars.dateAccepted + ("P$(days)D" as Period)]' doc:name="Set Variable" doc:id="5cbc47a3-29c1-4c37-a335-2d3f54b69495" variableName="limitDate"/>
		<logger level="INFO" doc:name="Logger" doc:id="33a60f0f-49cc-4780-b4ab-791b7130f95f" />
		<choice doc:name="Choice" doc:id="87e02c3f-013e-4913-9b3a-05a7510a3a7c" >
			<when expression="#[vars.shippingDate &lt; vars.limitDate]">
				<http:request method="GET" doc:name="GET/customerID from offerSAPI" doc:id="61e80216-c375-46be-9730-af5d130fdce5" config-ref="HTTP_Request_configuration-offersSapi" path="/api/offers/{offerID}" target="customerID" targetValue="#[payload[0].CustomerID]" responseTimeout="300000">
					<http:uri-params ><![CDATA[#[output application/java
---
{
	offerID : payload.offerID
}]]]></http:uri-params>
				</http:request>
				<logger level="INFO" doc:name="Logger" doc:id="40f67a90-9f62-4fd5-a84c-47289ccfddef" />
				<flow-ref doc:name="createOrder" doc:id="ad3b9ab4-e633-4a33-bf1d-ac230c942c77" name="createOrder"/>
			</when>
			<otherwise>
				<set-payload value="Shipping date over 15 days away. Try again with another shipper. " doc:name="ShippingDate &gt; 15 days away" doc:id="7a80c0b3-373b-4bb4-9062-0c3c55ea80b7" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="fa3267d3-d810-483b-94eb-c1c9f44207d6" />
	</flow>
	<flow name="createOrder" doc:id="4a430c34-75e2-4bdd-b176-b1ce7dafdd97" >
		<logger level="INFO" doc:name="Logger" doc:id="2de6183f-f703-4af7-9adc-9ef1485c389a" />
		<http:request method="POST" doc:name="POST/order" doc:id="345a8e57-56f3-4001-82c7-f66534298ab5" config-ref="HTTP_Request_configuration_ordSAPI" path="/api/orders" responseTimeout="300000" target="orderID" targetValue="#[payload.OrderID]">
			<http:body ><![CDATA[#[output application/json
---
{
	"CustomerID": vars.customerID,
	"EmployeeID": payload.employeeID,
	"DateAccepted": vars.dateAccepted,
	"ShippedDate": vars.shippingDate,
	"ShipperID": payload.shipperID
}]]]></http:body>
		</http:request>
		<validation:is-number doc:name="OrderID Is number" doc:id="0d9a37a7-fe2f-4d22-82ab-9b67142ec3c2" value="#[vars.orderID]" config-ref="Validation_Config" numberType="INTEGER"/>
		<http:request method="PATCH" doc:name="PATCH/to shipped" doc:id="09fd8e2e-785a-4bca-ad37-818fca01c83c" config-ref="HTTP_Request_configuration-offersSapi" path="/api/offers/{offerID}">
			<http:body ><![CDATA[#[{
	"OrderID": vars.orderID
}]]]></http:body>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	offerID : payload.offerID
}]]]></http:uri-params>
		</http:request>
		<set-payload value='#[output application/json&#10;---&#10;{&#10;	"OrderID": vars.orderID,&#10;	"ShippingDate": vars.shippingDate&#10;}]' doc:name="OrderID &amp; ShippingDate" doc:id="f6e6d024-d483-4d1a-b2c8-b8718e57c1c5" />
		<logger level="INFO" doc:name="Logger" doc:id="96fdfbba-c91a-44f9-80b9-63a58a133fe3" />
	</flow>
	
	<flow name="offerRequest" doc:id="6437727e-c812-4067-95c6-2f5604da7ad1" >
		<logger level="INFO" doc:name="Logger" doc:id="6b57b49c-7584-4b7b-98c9-a8aa25c8bb66" />
		<http:request method="GET" doc:name="GET/productID" doc:id="6b057f20-94f9-45b6-9ce8-f389fdb799f6" config-ref="HTTP_Request_configuration_prodSAPI" path="/api/products/{ID}" responseTimeout="300000" target="productID" targetValue="#[payload[0].ProductID]">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	ID : payload.productID
}]]]></http:uri-params>
		</http:request>
		<validation:is-not-null doc:name="ProductID is not null" doc:id="5146e73b-2fb9-4ff1-a556-6499e173363f" config-ref="Validation_Config" value="#[vars.productID]" message="ProductID does not exist"/>
		<http:request method="POST" doc:name="POST/createOffer" doc:id="6dcaef61-412f-43b1-9e07-953ee9198129" path="/api/offers" config-ref="HTTP_Request_configuration-offersSapi" responseTimeout="300000">
			<http:body ><![CDATA[#[output application/json
---
{
	"Quantity": payload.quantity,
	"CustomerID": payload.customerID, 
	"ProductID": payload.productID

}]]]></http:body>
		</http:request>
		<set-payload value="#[payload]" doc:name="OfferID" doc:id="880b758e-19d0-46a5-81a0-8422fe709d57" />
		<logger level="INFO" doc:name="Logger" doc:id="3460df29-4e7c-4212-9b43-094e81b6dae7" />
	</flow>
	<flow name="updateOffer" doc:id="a60e8982-253e-4ea4-9c9a-897d3667b680" >
		<logger level="INFO" doc:name="Logger" doc:id="fab90211-2dfe-4e88-be4d-9b415664c92a" />
		<choice doc:name="Choice" doc:id="d7f19b8d-15f4-4a1b-83bb-55641ae4bb3c" >
			<when expression="#[payload.PaymentTransactionID != null]">
				<flow-ref doc:name="matchCustomerID" doc:id="6dfb0e38-05eb-4e82-af87-f2df7f257ae0" name="matchCustomerID" />
				<http:request method="PATCH" doc:name="Update Offer to ACCEPTED state" doc:id="eddc43e1-7b6d-4df8-b453-77fa71d1a6b8" config-ref="HTTP_Request_configuration-offersSapi" path="/api/offers/{offerID}" >
					<http:body ><![CDATA[#[{
	"PaymentTransactionID": payload.PaymentTransactionID,
	"DateApproved": now() as Date
}]]]></http:body>
					<http:uri-params ><![CDATA[#[output application/java
---
{
	offerID : payload.OfferID
}]]]></http:uri-params>
				</http:request>
			</when>
			<when expression="#[payload.PriceDiscount != null]">
				<set-variable value="#[payload.OfferID]" doc:name="offerID" doc:id="085be607-c381-4377-b28f-2cb316d35112" variableName="offerID" />
				<flow-ref doc:name="proposeOffer" doc:id="391fd201-72c8-4004-83ab-e4535830c103" name="proposeOffer"/>
				<http:request method="PATCH" doc:name="Update Offer PROPOSED" doc:id="3e745ed7-8e61-4637-8142-6a0dd33f7b3b" config-ref="HTTP_Request_configuration-offersSapi" path="/api/offers/{offerID}" >
					<http:body ><![CDATA[#[%dw 2.0
output application/json
---
{
	EmployeeID: payload.EmployeeID,
	PriceDiscount: payload.PriceDiscount default 0,
	TotalPrice: vars.totalPrice,
	DateCreated: now() as Date
}]]]></http:body>
					<http:uri-params ><![CDATA[#[output application/java
---
{
	offerID : vars.offerID
}]]]></http:uri-params>
				</http:request>
			</when>
			<otherwise >
				<flow-ref doc:name="matchCustomerID" doc:id="f34de612-e5cf-44eb-971e-93f6e4fee605" name="matchCustomerID"/>
				<http:request method="PATCH" doc:name="Update Offer to REJECTED state" doc:id="7a89926b-79d3-4970-83dd-d961e3340aef" path="api/offers/{offerID}" config-ref="HTTP_Request_configuration-offersSapi">
					<http:body ><![CDATA[#[%dw 2.0
output application/json
---
{
	Status: "rejected"
}]]]></http:body>
					<http:uri-params ><![CDATA[#[output application/java
---
{
	offerID : payload.OfferID
}]]]></http:uri-params>
				</http:request>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="1e96dfac-d71c-4d9d-b183-2e010f98fbcc" />
	</flow>
	<sub-flow name="matchCustomerID" doc:id="77df4cf1-0d60-47fb-bb44-698e3eb172b4">
		<http:request method="GET" doc:name="GET offer matching offerID" doc:id="ae41fdb2-aed8-4a51-ad55-079f1700796a" config-ref="HTTP_Request_configuration-offersSapi" path="/api/offers/{offerID}" target="customerID" targetValue="#[payload[0].CustomerID]">
			<http:uri-params><![CDATA[#[output application/java
---
{
	offerID : payload.OfferID
}]]]></http:uri-params>
		</http:request>
		<validation:is-true doc:name="Payload matches CustomerID?" doc:id="c2b2f3e2-7005-4d6b-b859-d80130d15923" expression="#[vars.customerID == payload.CustomerID]" config-ref="Validation_Config" />
	</sub-flow>
	<flow name="proposeOffer" doc:id="08c79522-e826-4ed7-adeb-86f6160a805f" >
		<logger level="INFO" doc:name="Logger" doc:id="d4c7bd7b-9b0c-4784-bd31-5afd5408ee03" />
		<validation:is-not-null doc:name="Is not null" doc:id="c4ff7b08-a9b0-498f-98c7-9b5d17500193" config-ref="Validation_Config" value="#[payload.PriceDiscount]" message="Discount not specified"/>
		<http:request method="GET" doc:name="GET/price" doc:id="1a7ac154-4d56-4188-9b7a-d35ac611572e" config-ref="HTTP_Request_configuration_prodSAPI" path="/api/products/price" target="price" responseTimeout="300000">
			<http:query-params ><![CDATA[#[output application/java
---
{
	offerID : payload.OfferID
}]]]></http:query-params>
		</http:request>
		<http:request method="GET" doc:name="GET/units in stock" doc:id="c51b18c7-eb21-4832-8036-11115a5d0983" config-ref="HTTP_Request_configuration_prodSAPI" path="/api/products/unitsInStock" target="unitsInStock" responseTimeout="300000">
			<http:query-params ><![CDATA[#[output application/java
---
{
	offerID : payload.OfferID
}]]]></http:query-params>
		</http:request>
		<http:request method="GET" doc:name="GET/quantity" doc:id="fe938e46-399b-4014-9c35-4050cd2eadd4" config-ref="HTTP_Request_configuration-offersSapi" path="/api/offers/{offerID}" target="quantity" targetValue="#[payload[0].Quantity]" responseTimeout="300000">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	offerID : payload.OfferID
}]]]></http:uri-params>
		</http:request>
		<choice doc:name="Choice" doc:id="deaf1834-a2e2-4733-bd18-a1533dae26c5" >
			<when expression="#[vars.unitsInStock &gt;= vars.quantity]">
				<set-variable value="#[vars.quantity * vars.price * (1- payload.PriceDiscount)]" doc:name="Set Variable" doc:id="dc6a231c-b9d7-4961-9fa2-4c608c06a5ba" variableName="totalPrice" />
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="65105b3a-ad5e-442c-8518-f6dc44807498" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	EmployeeID: payload.EmployeeID
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<http:request method="PATCH" doc:name="UPDATE offer OUT_OF_STOCK" doc:id="2e8c5961-7cbf-4b74-8c5a-8ee8319d2d37" config-ref="HTTP_Request_configuration-offersSapi" path="/api/offers/{offerID}">
					<http:uri-params ><![CDATA[#[output application/java
---
{
	offerID : vars.offerID
}]]]></http:uri-params>
				</http:request>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="9cb035a6-bb8a-4c1b-9ad4-ef0e55e6c962" />
	</flow>
</mule>
