order-pro-api/src/main/mule/j-implementation-order-pro-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="21f32032-c068-4d05-aba0-2a7e281a8a52" />
	<http:request-config name="HTTP_Request_configuration-josefine" doc:name="HTTP Request configuration" doc:id="a9d30cb8-3388-4299-a4b8-ad693f7ba622" >
		<http:request-connection host="localhost" port="8082" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config-josefine" doc:name="HTTP Listener config" doc:id="1d1f0743-71e4-4115-af6c-f9d96f21c8b9" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="j-implementation-order-pro-apiFlow" doc:id="475b5aa5-8af6-47c5-ad27-a8e309d473ce">
		<http:listener doc:name="Listener" doc:id="a16555f2-1b24-48cd-8b08-e0b63e819067" config-ref="HTTP_Listener_config" path="/test" />
		<logger level="INFO" doc:name="Logger" doc:id="cb4d90f0-1573-442d-b88b-520b62aeb422" />
		<http:request method="GET" doc:name="Request to offers-sapi (GET offer matching offerID)" doc:id="a39ea1c6-c4a9-48d5-95c3-66c9e9198667" config-ref="HTTP_Request_configuration-josefine" path="/offers/{offerID}" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	offerID : attributes.uriParams.offerID
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="2bc2d0ed-e519-41f1-8d48-e1a5d2b034f0" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="af7072ff-5ee9-4c45-ad3e-a4a66ce083a0" />
		<ee:transform doc:name="Transform Message" doc:id="d8533128-da03-4ec0-96fb-b3377ace87d5">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="4caa183a-e349-468e-a930-2cd6e5211536" />
		<set-payload value="The status has been updated to accepted." doc:name="status updated to accepted" doc:id="8c9636ee-ddf5-44ed-9b45-0b12e3896ad5" />
		<logger level="INFO" doc:name="Logger" doc:id="9fed5a52-47da-4cdc-a30b-b13a28925339" />
	</flow>
	<flow name="j-implementation-order-pro-apiFlow1" doc:id="662ce7a8-e24b-4f53-a2ce-2f1e0260a08b" >
		<http:listener doc:name="Listener" doc:id="2a01e077-0971-4de4-a47c-5481c9bd3ddc" config-ref="HTTP_Listener_config-josefine" path="/offers/{offerID}"/>
		<db:select doc:name="Select" doc:id="698df168-2650-4ce7-b64a-b626cdca7dbf" config-ref="Database_Config-josefine">
			<db:sql ><![CDATA[select * from Offers where OfferID = :offerID]]></db:sql>
			<db:input-parameters ><![CDATA[#["offerID": attributes.uriParams.offerID]]]></db:input-parameters>
		</db:select>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="a3b6f086-2643-4a15-a62f-eea9af68686a" />
	</flow>
</mule>
