order-pro-api/src/main/mule/order-pro-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="getShippingDate" doc:id="50e08634-7087-4896-be16-236cbf73cb9c" >
		<http:listener doc:name="GET/shippingDate" doc:id="0ac5e549-384d-4d41-91c4-d603bdee1b64" config-ref="HTTP_Listener_config-global" path="/shipping"/>
		<set-variable value="#[now() as Date]" doc:name="dateAccepted" doc:id="70a2d7e0-6162-42bb-b81c-dad2d2293680" variableName="dateAccepted"/>
		<http:request method="GET" doc:name="POST/shipping-sys-api" doc:id="9a152fd7-01d8-45cb-b19b-31739a624cdb" config-ref="HTTP_Request_configuration2-global" path="/api/shipping" target="shippingDate">
			<http:body ><![CDATA[#[output application/json
---
{
	"offerID": payload.offerID,
	"dateAccepted": vars.dateAccepted,
	"shipperID": payload.shipperID
}]]]></http:body>
		</http:request>
		<choice doc:name="Choice" doc:id="87e02c3f-013e-4913-9b3a-05a7510a3a7c" >
			<when expression='#[import * from dw::core::Dates&#10;import * from dw::core::Periods&#10;output application/json&#10;&#10;var days = 15&#10;---&#10;vars.shippingDate &lt; vars.dateAccepted + ("P$(days)D" as Period)]'>
				<flow-ref doc:name="createOrder" doc:id="ad3b9ab4-e633-4a33-bf1d-ac230c942c77" name="createOrder"/>
			</when>
			<otherwise >
				<flow-ref doc:name="Flow Reference" doc:id="c0898271-2aba-443f-82b8-bbea9552e229" name="getShippingDate"/>
			</otherwise>
		</choice>
		<flow-ref doc:name="Flow Reference" doc:id="c08beb51-3435-4c3d-bd96-b29a5be94a3f" name="updateOffer"/>
	</flow>
	<flow name="createOrder" doc:id="4a430c34-75e2-4bdd-b176-b1ce7dafdd97" >
		<http:request method="POST" doc:name="Request to order SAPI (insert order)" doc:id="345a8e57-56f3-4001-82c7-f66534298ab5" config-ref="HTTP_Request_configuration3-global" path="/api/orders">
			<http:query-params><![CDATA[#[output application/json
---
{
	"customerID" : "payload.customerID",
	"employeeID" : "payload.employeeID",
	"acceptedDate" : "var.acceptedDate",
	"shippingDate" : "payload.shippingDate",
	"shipperID" : "payload.shipperID"
	}]]]></http:query-params>
		</http:request>
		<set-payload value="#[payload]" doc:name="payload (orderID)" doc:id="1487e3a1-5979-4656-8647-9e11f44c6f8f" />
	</flow>
	<flow name="updateOffer" doc:id="a9bbc8d4-1254-4d60-8c3e-879f2326b050" >
		<logger level="INFO" doc:name="Logger" doc:id="a1226c86-7bd7-4952-bf59-63989adca9f3" />
		<http:request method="GET" doc:name="Request" doc:id="a8ad0ee9-da24-4eb9-9d19-78b265d5d825" config-ref="HTTP_Request_configuration3-global" path="/offer"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="2078fbe3-92a8-463b-9785-9a3018676b00" />
	</flow>
	<flow name="acceptOffer" doc:id="0909cb86-ba70-4d4e-bf85-c9ba5acafdfe">
		<http:listener doc:name="POST /acceptoffer" doc:id="bf6f61d7-d280-4e90-af57-295efe4599b5" config-ref="HTTP_Listener_config-global" path="/orders/acceptoffer">
			<http:error-response statusCode="400">
				<http:body><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<logger level="INFO" doc:name="StartFlow" doc:id="96e3bcbf-d85d-4810-a2a6-d5fbd2936dff" />
		<set-variable value="#[payload.OfferID]" doc:name="offerID" doc:id="1cdbd593-ed8a-4f51-a1f5-b60f8a196273" variableName="offerID" />
		<set-variable value="#[payload.PaymentTransactionID]" doc:name="paymentTransactionID" doc:id="a1435607-32e0-41a2-a110-5055a95a4a5c" variableName="paymentTransactionID" />
		<flow-ref doc:name="matchCustomerID" doc:id="ebb3d15e-137d-404f-b664-ded77e876e8a" name="matchCustomerID" />
		<ee:transform doc:name="Set PaymentTransactionID and DateApproved" doc:id="5c668b62-96f0-4eeb-8544-3357953210e9">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	PaymentTransactionID: vars.paymentTransactionID,
	DateApproved: now() as Date
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="PATCH" doc:name="Update Offer to ACCEPTED state" doc:id="f80fc46b-13cc-4aed-95e9-1b2cf9f2bf1f" path="/offers/{offerID}" config-ref="HTTP_Request_configuration-offersSapi">
			<http:uri-params><![CDATA[#[output application/java
---
{
	offerID : vars.offerID
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="EndFlow" doc:id="3f53c569-e723-476d-8b6b-a1d0e6334073" />
	</flow>
	<sub-flow name="matchCustomerID" doc:id="77df4cf1-0d60-47fb-bb44-698e3eb172b4">
		<set-variable value="#[message.payload.CustomerID]" doc:name="customerID" doc:id="afcd04bf-125a-4acb-a082-44bedddd2775" variableName="customerID"/>
		<http:request method="GET" doc:name="GET offer matching offerID" doc:id="ae41fdb2-aed8-4a51-ad55-079f1700796a" config-ref="HTTP_Request_configuration-offersSapi" path="/offers/{offerID}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	offerID : vars.offerID
}]]]></http:uri-params>
		</http:request>
		<validation:is-true doc:name="Payload matches CustomerID?" doc:id="c2b2f3e2-7005-4d6b-b859-d80130d15923" expression="#[message.payload[0].'Customer ID' == vars.customerID]" config-ref="Validation_Config" />
	</sub-flow>
</mule>
