order-pro-api/src/main/mule/order-pro-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="getShippingDate" doc:id="50e08634-7087-4896-be16-236cbf73cb9c" >
		<http:listener doc:name="GET/shippingDate" doc:id="0ac5e549-384d-4d41-91c4-d603bdee1b64" config-ref="HTTP_Listener_config-global" path="/shipping"/>
		<set-variable value="#[now() as Date]" doc:name="dateAccepted" doc:id="70a2d7e0-6162-42bb-b81c-dad2d2293680" variableName="dateAccepted"/>
		<http:request method="POST" doc:name="POST/shipping-sys-api" doc:id="9a152fd7-01d8-45cb-b19b-31739a624cdb" config-ref="HTTP_Request_configuration-shipSAPI" path="/api/shipping" target="shippingDate" responseTimeout="30000000">
			<http:body ><![CDATA[#[output application/json
---
{
	"offerID": payload.offerID,
	"dateAccepted": vars.dateAccepted,
	"shipperID": payload.shipperID
}]]]></http:body>
		</http:request>
		<choice doc:name="Choice" doc:id="87e02c3f-013e-4913-9b3a-05a7510a3a7c" >
			<when expression='#[import * from dw::core::Dates&#10;import * from dw::core::Periods&#10;output application/json&#10;&#10;var days = 15&#10;---&#10;vars.shippingDate &lt; vars.dateAccepted + ("P$(days)D" as Period)]'>
				<flow-ref doc:name="createOrder" doc:id="ad3b9ab4-e633-4a33-bf1d-ac230c942c77" name="createOrder"/>
			</when>
			<otherwise >
				<flow-ref doc:name="Flow Reference" doc:id="c0898271-2aba-443f-82b8-bbea9552e229" name="getShippingDate"/>
			</otherwise>
		</choice>
		<flow-ref doc:name="Flow Reference" doc:id="c08beb51-3435-4c3d-bd96-b29a5be94a3f" name="updateOffer"/>
	</flow>
	<flow name="createOrder" doc:id="4a430c34-75e2-4bdd-b176-b1ce7dafdd97" >
		<http:request method="POST" doc:name="Request to order SAPI (insert order)" doc:id="345a8e57-56f3-4001-82c7-f66534298ab5" config-ref="HTTP_Request_configuration3-global" path="/api/orders">
			<http:query-params><![CDATA[#[output application/json
---
{
	"customerID" : "payload.customerID",
	"employeeID" : "payload.employeeID",
	"acceptedDate" : "var.acceptedDate",
	"shippingDate" : "payload.shippingDate",
	"shipperID" : "payload.shipperID"
	}]]]></http:query-params>
		</http:request>
		<set-payload value="#[payload]" doc:name="payload (orderID)" doc:id="1487e3a1-5979-4656-8647-9e11f44c6f8f" />
	</flow>
	<flow name="updateOffer" doc:id="a9bbc8d4-1254-4d60-8c3e-879f2326b050" >
		<logger level="INFO" doc:name="Logger" doc:id="a1226c86-7bd7-4952-bf59-63989adca9f3" />
		<http:request method="GET" doc:name="Request" doc:id="a8ad0ee9-da24-4eb9-9d19-78b265d5d825" config-ref="HTTP_Request_configuration3-global" path="/offer"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="2078fbe3-92a8-463b-9785-9a3018676b00" />
	</flow>
	
	<flow name="offerRequest" doc:id="6437727e-c812-4067-95c6-2f5604da7ad1" >
		<http:listener doc:name="offerRequest" doc:id="cc5ba633-15b8-45d8-8a50-cf0a3e7291ef" config-ref="HTTP_Listener_config-global" path="/offerRequest"/>
		<set-variable value="#[payload.quantity]" doc:name="quantity" doc:id="da95c426-f145-4cb6-91a9-1b147536a88d" variableName="quantity"/>
		<set-variable value="#[payload.customerID]" doc:name="customerID" doc:id="c6d24905-e453-40de-b7f8-2d9d279a73d6" variableName="customerID"/>
		<set-variable value="#[payload.productID]" doc:name="productID" doc:id="ce4e6cdb-b63b-4b5d-85b1-4cfb5dc828dd" variableName="productID"/>
		<http:request method="GET" doc:name="Request - checkProductID" doc:id="6b057f20-94f9-45b6-9ce8-f389fdb799f6" config-ref="HTTP_Request_configuration3-global" path="/products/{ID}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	ID : vars.productID
}]]]></http:uri-params>
		</http:request>
		<validation:is-not-null doc:name="Is not null" doc:id="5146e73b-2fb9-4ff1-a556-6499e173363f" config-ref="Validation_Config" value="#[payload]"/>
		<http:request method="POST" doc:name="Request - crateOffer" doc:id="6dcaef61-412f-43b1-9e07-953ee9198129" path="/offers/{offerID}" config-ref="HTTP_Request_configuration3-global">
			<http:body ><![CDATA[#[output application/json
---
{
	"quantity": vars.quantity,
	"customerID": vars.customerID, 
	"productID": vars.productID

}]]]></http:body>
		</http:request>
	</flow>
	<flow name="acceptOffer" doc:id="0909cb86-ba70-4d4e-bf85-c9ba5acafdfe">
		<http:listener doc:name="POST /acceptoffer" doc:id="bf6f61d7-d280-4e90-af57-295efe4599b5" config-ref="HTTP_Listener_config-global" path="/orders/acceptoffer">
			<http:error-response statusCode="400">
				<http:body><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<logger level="INFO" doc:name="StartFlow" doc:id="96e3bcbf-d85d-4810-a2a6-d5fbd2936dff" />
		<set-variable value="#[payload.OfferID]" doc:name="offerID" doc:id="1cdbd593-ed8a-4f51-a1f5-b60f8a196273" variableName="offerID" />
		<set-variable value="#[payload.PaymentTransactionID]" doc:name="paymentTransactionID" doc:id="a1435607-32e0-41a2-a110-5055a95a4a5c" variableName="paymentTransactionID" />
		<flow-ref doc:name="matchCustomerID" doc:id="ebb3d15e-137d-404f-b664-ded77e876e8a" name="matchCustomerID" />
		<ee:transform doc:name="Set PaymentTransactionID and DateApproved" doc:id="5c668b62-96f0-4eeb-8544-3357953210e9">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	PaymentTransactionID: vars.paymentTransactionID,
	DateApproved: now() as Date
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="PATCH" doc:name="Update Offer to ACCEPTED state" doc:id="f80fc46b-13cc-4aed-95e9-1b2cf9f2bf1f" path="/offers/{offerID}" config-ref="HTTP_Request_configuration-offersSapi">
			<http:uri-params><![CDATA[#[output application/java
---
{
	offerID : vars.offerID
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="EndFlow" doc:id="3f53c569-e723-476d-8b6b-a1d0e6334073" />
	</flow>
	<flow name="rejectOffer" doc:id="b80a175b-507f-45d6-8dc2-a6dd0d74528f" >
		<http:listener doc:name="POST /rejectoffer" doc:id="e73ddc7c-c4f7-4b1e-8fdd-8dde2f33c7cf" config-ref="HTTP_Listener_config-global" path="/orders/rejectoffer"/>
		<logger level="INFO" doc:name="StartFlow" doc:id="0e0899c3-9958-4d3e-9e7f-6f70b8c57e97" />
		<set-variable value="#[payload.OfferID]" doc:name="offerID" doc:id="2551df97-1f13-4b70-bde6-593ff81d8a6c" variableName="offerID" />
		<flow-ref doc:name="matchCustomerID" doc:id="07280948-eed3-49cf-96f5-a4835b13d8e2" name="matchCustomerID" />
		<http:request method="PATCH" doc:name="Update Offer to REJECTED state" doc:id="4a090dc4-5b38-4fa3-aa04-b77f271e2c70" config-ref="HTTP_Request_configuration-offersSapi" path="/offers/{offerID}" >
			<http:body ><![CDATA[#[%dw 2.0
output application/json
---
{
	Status: "rejected"
}]]]></http:body>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	offerID : vars.offerID
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="EndFlow" doc:id="81f5a503-cb10-4fca-bb11-413326f1d12b" />
	</flow>
	<sub-flow name="matchCustomerID" doc:id="77df4cf1-0d60-47fb-bb44-698e3eb172b4">
		<set-variable value="#[message.payload.CustomerID]" doc:name="customerID" doc:id="afcd04bf-125a-4acb-a082-44bedddd2775" variableName="customerID"/>
		<http:request method="GET" doc:name="GET offer matching offerID" doc:id="ae41fdb2-aed8-4a51-ad55-079f1700796a" config-ref="HTTP_Request_configuration-offersSapi" path="/offers/{offerID}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	offerID : vars.offerID
}]]]></http:uri-params>
		</http:request>
		<validation:is-true doc:name="Payload matches CustomerID?" doc:id="c2b2f3e2-7005-4d6b-b859-d80130d15923" expression="#[message.payload[0].'Customer ID' == vars.customerID]" config-ref="Validation_Config" />
	</sub-flow>
	<flow name="proposedOffer" doc:id="cc5ba157-dc15-4069-a684-6bb5ed193067" >
		<http:listener doc:name="POST /proposedoffer" doc:id="63c99ae0-1061-454f-a745-959fb24e1ae5" config-ref="HTTP_Listener_config-global" path="/orders/proposedoffer"/>
		<logger level="INFO" doc:name="StartFlow" doc:id="f17b6898-244d-4f69-ba58-3f37f9e80915" />
<set-variable value="#[payload.OfferID]" doc:name="offerID" doc:id="e0b2da21-7915-4b39-aa73-d7f6c3107152" variableName="offerID" />
		<!-- [STUDIO:"Check things (Hanna)"]		<flow-ref doc:name="Check things (Hanna)" doc:id="d931066e-c8e9-4906-95af-a625644aede7" name="updateOffer"/> [STUDIO] -->
		<choice doc:name="Choice" doc:id="fb8c1030-61a4-4ebe-a8ba-6086e3cf7515" >
			<when expression="#[payload.TotalPrice != null]">
				<ee:transform doc:name="Set payload for PROPOSED" doc:id="0690f8bd-4aaa-46e5-a941-0fdfc92ec47a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	EmployeeID: payload.EmployeeID,
	PriceDiscount: payload.PriceDiscount default 0,
	TotalPrice: payload.TotalPrice,
	DateCreated: now() as Date
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="payload.EmployeeID != null">
				<ee:transform doc:name="Set payload for OUT OF STOCK" doc:id="63fa4e49-ac39-420c-bee4-7300c92b58b5">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	EmployeeID: payload.EmployeeID
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<raise-error doc:name="Incorrect input provided" doc:id="19f8fa97-68fb-4f26-b9f5-5b370d9674f2" type="ANY"/>
			</otherwise>
		</choice>
		<http:request method="PATCH" doc:name="Update Offer (PROPOSED or OUT OF STOCK)" doc:id="ebe41e07-a55c-41fb-a098-234bd2b53cfc" config-ref="HTTP_Request_configuration-offersSapi" path="/offers/{offerID}">
					<http:uri-params><![CDATA[#[output application/java
---
{
	offerID : vars.offerID
}]]]></http:uri-params>
				</http:request>
		<logger level="INFO" doc:name="EndFlow" doc:id="0a1a1097-b566-46c2-a673-c434d55e097c" />
	</flow>
</mule>
