order-sys-api/src/main/mule/implementation-order-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="shipAddressflow-GET" doc:id="7aec6639-5d66-480f-b3d0-1748c3377270">
		<logger level="INFO" doc:name="Entering sapi Get-shipAddress" doc:id="d345d799-51b9-45ec-ac8d-7eb733b29d7e" message="Entering sapi Get-shipAddress"/>
		<db:select doc:name="Select" doc:id="0587b548-ac9e-4d8a-b9d2-14277fa4ad41" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT Address FROM Customers 
WHERE CustomerID = :customerID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{ "customerID": message.attributes.queryParams.customerID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="95a5327e-d63e-461a-8b98-8ead5a13ce7b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: payload[0].Address
}

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Exiting sapi Get-shipAddress" doc:id="05d41fa1-a7cf-42f0-957c-5be878e32f44" message="#[payload]"/>
	</flow>
	<flow name="orderflow-POST" doc:id="426fe71c-8751-41f6-9059-281e0426123b" >
		<logger level="INFO" doc:name="Entering sapi postOrder flow" doc:id="af8c01fc-0578-46d4-999b-b46ce829cdce" message="Entering postOrder flow"/>
		<http:request method="GET" doc:name="Request" doc:id="6e13c9b8-bb0a-4311-8e42-8b99740ef9bf" path="/api/orders/shipAddress" target="ShipAddress" targetValue="#[payload.message]" responseTimeout="6000000" config-ref="HTTP_Request_configuration_ordSAPI">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"customerID" : payload.CustomerID
}]]]></http:query-params>
		</http:request>
		<db:insert doc:name="Insert into database" doc:id="9a712b90-ccee-4334-bb72-c50d5e5ab315" autoGenerateKeys="true" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO Orders (CustomerID, EmployeeID, OrderDate, RequiredDate, ShippedDate, ShipVia, ShipAddress, Freight, ShipName, ShipCity, ShipRegion, ShipPostalCode, ShipCountry)
VALUES(:CustomerID, :EmployeeID, :OrderDate, : RequiredDate, :ShippedDate, :ShipVia, :ShipAddress, :Freight, :ShipName, :ShipCity, :ShipRegion, :ShipPostalCode, :ShipCountry)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
CustomerID: payload.CustomerID,
EmployeeID: payload.EmployeeID,
OrderDate: payload.DateAccepted,
RequiredDate: payload.RequiredDate,
ShippedDate: payload.ShippedDate,
ShipVia: payload.ShipperID,
ShipAddress: vars.ShipAddress,
Freight: payload.Freight,
ShipName: payload.ShipName,
ShipCity: payload.ShipCity,
ShipRegion: payload.ShipRegion,
ShipPostalCode: payload.ShipPostalCode,
ShipCountry: payload.ShipCountry
}]]]></db:input-parameters>
			<db:auto-generated-keys-column-names >
				<db:auto-generated-keys-column-name value="OrderID" />
			</db:auto-generated-keys-column-names>
		</db:insert>
		<set-variable value="#[payload.generatedKeys[0]]" doc:name="Set Variable" doc:id="4354efa3-9b54-43f9-9a57-4e3b88991715" variableName="OrderID"/>
		<ee:transform doc:name="Transform Message" doc:id="29514fca-d8f2-4879-b6b3-823580972ef3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"OrderID": vars.OrderID
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Exiting postOrder Flow" doc:id="c02ff932-ffa9-4162-8c39-5500170abbc6" message="Exiting postOrder Flow"/>
	</flow>
	<flow name="employeeIDflow-GET" doc:id="f0818ca9-2c49-4c3b-89d7-425d321c4810" >
		<logger level="INFO" doc:name="Entering sapi Get-EmployeeID" doc:id="286a9b71-4729-4b4e-a449-49d2377c0d1c" message="Entering sapi Get-EmployeeID"/>
		<db:select doc:name="Select" doc:id="6c9c5149-9782-4a54-ba64-3d0bc6f87a52" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM Orders
WHERE EmployeeID = :employeeID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'employeeID': attributes.uriParams.employeeID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="472cf8fc-9772-4221-84c0-a010d4df62be" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Exiting sapi Get-EmployeeID" doc:id="89931057-f2e4-4841-8c72-3fc504fc71e5" message="#[payload]"/>
	</flow>
	<flow name="customerIDflow-GET" doc:id="f57aab24-d8ab-41b3-ae0c-585d6d0fd65b" >
		<logger level="INFO" doc:name="Entering sapi Get-CustomerID" doc:id="6b0e798d-ab03-42fb-9ba8-6937203d6909" message="Entering sapi Get-CustomerID"/>
		<db:select doc:name="Select" doc:id="08550399-c176-429a-9e5b-1e9b241bd1dd" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM Orders
WHERE CustomerID = :customerID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'customerID': attributes.uriParams.customerID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="ce58061e-7452-4d9e-b970-0926573b3fb4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Exiting sapi Get-CustomerID" doc:id="dd540875-c7cb-43c5-8714-14b79628ec2d" message="#[payload]"/>
	</flow>
</mule>
