product-sys-api/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="getProducts" doc:id="8925d85a-869b-49e6-8014-f29f0e4591e5" >
		<logger level="INFO" doc:name="Logger" doc:id="6fcf96e9-44c2-4182-9e10-a210fbaf16e8" />
		<db:select doc:name="Select/all products" doc:id="9c2407f7-ec5b-4325-8b44-c09b2b22df9e" config-ref="Database_Config">
			<db:sql ><![CDATA[select *
from Products]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="ab17c87d-7fae-4e04-8d7c-2f6fad6d4c3b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="af0e010a-7ae0-435f-a2c4-750c27b58b4d" />
	</flow>
	<flow name="getProductsByID" doc:id="48a40a5b-a0f0-4f9b-9b70-b33545c08813" >
		<logger level="INFO" doc:name="Logger" doc:id="c8d9a39d-c984-4ffb-821e-5b2ed045bea7" />
		<db:select doc:name="Select/ProductsByID" doc:id="9a4e75d6-70f5-4821-b1bb-fc127d7db858" config-ref="Database_Config">
			<db:sql ><![CDATA[select *
from Products
where ProductID = :productID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{"productID": attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="148878b1-3d66-4089-9356-7639e3d4124f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="61d7891b-9ebf-4a9b-ad1d-d346498175fe" />
	</flow>
	<flow name="getUnitsInStock" doc:id="739d20f3-a513-4e32-9868-9c66ef126b8d" >
		<logger level="INFO" doc:name="Logger" doc:id="880d7d3c-83af-437c-b731-cacf0b260b06" />
		<db:select doc:name="Select/UnitsInStock for product" doc:id="7af9584c-b455-4e07-b876-0cfa8faffdad" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT P.UnitsInStock
FROM Products P, Offers O
WHERE P.ProductID = O.ProductID AND O.OfferID = :offerID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{"offerID": attributes.queryParams.offerID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="93a13549-fa0a-4d15-a1ba-a0dc2cf53f2d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0].UnitsInStock]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f19c656f-05fb-453e-8635-410abe0bd563" />
	</flow>
	<flow name="getPrice" doc:id="ff101b88-8d8b-4489-af33-7be1f78c22ba" >
		<logger level="INFO" doc:name="Logger" doc:id="362cbecb-c41f-422e-ac39-67b3c5f1941a" />
		<db:select doc:name="Select/Price for product" doc:id="94424483-7750-4a85-863a-2e719c3cda11" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT P.UnitPrice
FROM Products P, Offers O
WHERE P.ProductID = O.ProductID AND O.OfferID = :offerID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{"offerID": attributes.queryParams.offerID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="a2ca4a5e-9024-4455-8940-92d326f1c1fe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0].UnitPrice]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fe058b08-ac53-45ca-8efe-700c18fefb35" />
	</flow>
</mule>
