customer-exp-api/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<flow name="getCustomersFlow" doc:id="a7856407-7b5b-4825-be5b-a20d6c69c152" >
		<logger level="INFO" doc:name="startGetCustomerFlow" doc:id="7d6fdece-cbaa-4307-9020-4fba8b65ebce" />
		<http:request method="GET" doc:name="Request" doc:id="baa1cc98-018a-43e6-800c-7c041641b862" config-ref="HTTP_Request_configuration_custSAPI" path="/api/customers"/>
		<ee:transform doc:name="Transform Message" doc:id="631103e2-c828-4fdd-aed8-fc50e10b263c" >
			<ee:message >
				<ee:set-payload resource="GetCustomersFlow.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="endGetCustomerFlow" doc:id="7b1ba026-2bfb-441f-843d-6adbe0df5266" />
	</flow>
	<flow name="getCustomerByIDFlow" doc:id="e2d72521-c37f-4825-b03b-da0fb4fe5091" >
		<http:request method="GET" doc:name="Request" doc:id="898f63ec-cfd0-4ac5-a104-2e5790533e7e" config-ref="HTTP_Request_configuration_custSAPI" path="/api/customers/{ID}" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	ID : attributes.uriParams.ID
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="f15a239f-c500-4774-b264-45449381930a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	CustomerID: payload.CustomerID,
	CompanyName: payload.CompanyName,
	ContactName: payload.ContactName,
	ContactTitle: payload.ContactTitle,
	Address: payload.Address,
	PostalCode: payload.PostalCode as String,
	Country: payload.Country,
	Phone: payload.Phone
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postCustomerFlow" doc:id="7b2ee7eb-9720-4490-8590-adfbc6e23569" >
		<logger level="INFO" doc:name="startPostCustomerFlow" doc:id="dea01201-2581-4fb6-854e-49d48af3f9f9" />
<!-- [STUDIO:"Transform Message"]		<ee:transform doc:name="Transform Message" doc:id="d448e838-0ea6-404f-be5a-50e7d57c6bd4">
			<ee:message>
				<ee:set-payload resource="PostCustomerFlow.dwl" />
			</ee:message>
		</ee:transform> [STUDIO] -->
		<http:request method="POST" doc:name="Request" doc:id="71c88a2f-b4d8-41eb-b421-e64be222a814" config-ref="HTTP_Request_configuration_custSAPI" path="/api/customers">
			<http:body ><![CDATA[#[%dw 2.0
output application/json
---
{
	CustomerID: payload.customerID,
	CompanyName: payload.companyName,
	ContactName: payload.contactName,
	ContactTitle: payload.contactTitle,
	Address: payload.address,
	City: "",
	PostalCode: payload.postalCode,
	Country: payload.country,
	Region: "",
	Phone: payload.phone,
	Fax: ""
}]]]></http:body>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="f76add61-c4d6-4a09-872a-dc27505abe44" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Message": "Customer added successfully"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="endpostCustomerFlow" doc:id="e5809168-ac22-4895-9d9f-4e9acf051455" />
	</flow>
	<flow name="postOfferRequest" doc:id="191cd106-e89a-4f44-b9ba-247541cfb69e" >
		<http:listener doc:name="Listener" doc:id="abf10400-447d-4e93-add3-f76cc0ce4abd" config-ref="HTTP_Listener_config" path="/requestoffer" allowedMethods="POST"/>
		<http:request method="GET" doc:name="Request" doc:id="39acfcec-d443-41c1-932a-5369d0762a74" config-ref="HTTP_Request_configuration_ordPAPI" path="/offer"/>
		<set-payload value="#[payload]" doc:name="payload(offerID)" doc:id="cff391fc-5849-42df-9b92-fd739a4712e8" />
	</flow>
	<flow name="implementationFlow" doc:id="6838ddcb-1204-4925-9547-fa7a562af461" >
		<http:listener doc:name="Listener" doc:id="f1f9c06b-d71c-45e7-8342-56a63fe681b7" config-ref="HTTP_Listener_config" path="/acceptoffer"/>
		<tracking:transaction doc:name="Set Transaction Id" doc:id="01803dd5-b610-4b50-9972-aae0b4732378" id="#[payload.paymentTransactionID]"/>
		<validation:matches-regex doc:name="Matches regex" doc:id="2463e265-f38f-4d0d-8e95-fb558b737e7b" />
	</flow>
</mule>
